.Button
  border-color: #00b894
  border-radius: 5px
  background-color: #00b894
  color: inherit
  padding: 10px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 16px
